.product-cart-box {
  border: 1px solid #671564;
  padding: 10px;
  display: flex;
  margin: 20px;
}

.product-cart-box img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.produtc-cart-name {
  margin: 10px 3px 0px 0px;
  color: #671564;
}

.produtc-cart-price {
  color: #AB3EBD;
  font-size: 0.9rem;
  margin: 0px 3px 10px 0px;
}

.content {
  width: 100%;
}

.product-cart-footer {
  display: flex;
  justify-content: space-between;
}

.product-footer-btn{
    border: 1px solid #AB3EBD;
    padding: 10px 10px;
    border-radius: 0px;
    background-color: #FFFFFF;
}

.product-footer-qtd{
    margin-left: 8px;
    margin-right: 8px;
}

.product-footer-price{
    color: #AB3EBD;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1rem;
}