.produto-box {
  border: 3px solid #671564;
  border-radius: 18px;
  max-width: 230px;
  padding: 10px 10px 20px 10px;
  display: inline-block;
  margin: 30px;
}

.product-vitri-description {
  color: #847676;
  font-size: 1rem;
}

.product-vitri-price {
  color: #AB3EBD;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1rem;
}

.produto-box-nome{
  color: #671564;
}
