.pedido-box{
    border: 1px solid #CCCCCC;
    padding: 40px;
    border-radius: 20px;
    margin-bottom: 30px;
}

td strong {
    color: #671564;
}

@media screen and (max-width: 700px){
    .pedido-box{
        font-size: 0.9rem;
        padding: 0px;
    }
}