@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

html,
body {
  font-family: "Poppins";
  overflow-x: hidden;
  background-color: #ffffff;
  margin: 0;
}

.input {
  width: 100%;
  font-size: 1.2rem;
  display: inline-block;
  box-sizing: border-box;
  padding: 7px;
  border: 1px solid #671564;
  color: #AB3EBD;
}

select {
  width: 100%;
  background-color: #ffffff;
  font-size: 1.2rem;
  display: inline-block;
  box-sizing: border-box;
  padding: 7px;
  border: 1px solid #671564;
  color: #3d3d3d;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.icon {
  max-width: 17px;
  margin-right: 8px;
}

a {
  text-decoration: none;
}

.container {
  margin-right: 30px;
  margin-left: 30px;
  max-width: 90%;
  margin: auto;
}

.btn {
  border-radius: 6px;
  cursor: pointer;
  border: 0px;
}

.btn-red {
  background-color: #AB3EBD;
  color: #ffffff;
  border: 0px;
  padding: 8px;
  font-size: 1rem;
}

.btn-cart {
  background-color: #ffffff;
  border: 3px solid #671564;
  border-radius: 50px;
  width: 60%;
  padding: 8px;
  font-size: 1rem;
}

.btn-cart:hover {
  background-color: #e69ae3;
}

.btn-red:hover {
  background-color: #671564;
}

.btn-checkout {
  width: 100%;
  margin-top: 20px;
  padding: 15px;
  height: 70px;
  font-size: 1.5rem;
  font-weight: bold;
  border: 0px;
  border-radius: 0;
  background-color: #AB3EBD;
  color: #ffffff;
}

.btn-checkout:hover{
  background-color: #671564;
}

.btn-checkout[disabled]{
  background-color: #a7a4a4;
  cursor: not-allowed;
  color: #000;
}

.titulo h1 {
  font-size: 2.5rem;
  color: #AB3EBD;
}

.subtitulo {
  color: #847676;
  font-size: 1.2rem;
  max-width: 50%;
  margin: auto;
}

.col-3 {
  width: 33%;
  display: inline-block;
  vertical-align: top;
}

.input-group {
  margin-bottom: 30px;
}

table{
  width: 100%;
}

td{
  border-bottom: 1px solid #CCCCCC;
  padding: 15px;
}

.text-red{
  color: #671564;
  font-weight: bold;
}

.text-light{
  color: #847676;
  font-weight: 500;
}

@media screen and (max-width: 1100px) {
  .subtitulo {
    max-width: 95%;
  }

  .col-3 {
    width: 100%;
  }
}
