
.checkout-box{
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    margin: 25px;
    padding: 20px;
}

.checkout-box h3{
    margin-top: 0px;
    color: #671564;
}

.checkout-box p{
    margin: 0px;
    color: #671564;
}

.checkout-valor{
    display: flex;
    justify-content: space-between;
}

.checkout-button{
    margin-top: 170px;
}

.checkout-valor span{
    color: #671564;
}

.checkout-valor strong{
    color: #671564;
}